@media screen {

    html,
    body {
        animation: fadeIn 1s;
        -webkit-text-size-adjust: 100%;
        font-family: 'Times New Roman', Times, serif;
        margin: 0 10px;
        font-size: 11pt;
    }

    .container {
        padding-top: 25px;
    }

}

@media print {

    html,
    body {
        width: 210mm;
        max-width: 210mm;
        height: 297mm;
        max-height: 297mm;
        padding: 0;
        margin: 0;
        font-size: 10.65pt;
    }
}

body {
    line-height: 1;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.7s;
    padding: 3px 0;
}

a {
    color: black;
}

.resume-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-details div {
    text-align: center;
}

.name {
    font-size: 1.4em;
}

.section-header {
    border-bottom: 0.8px solid black;
    font-weight: bold;
    margin-bottom: 6px;
}

.section-body {
    margin: 0px 5px;
}

.text-box {
    text-align: left;
}

.box-section {
    display: flex;
    flex-direction: column;
    gap: 6px
}

.box-column-section {
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-auto-flow: column;
    /* grid-template-columns: 3fr 5fr 3fr 3fr; */
    gap: 30px;
}

@media screen and (max-width: 600px) {
    .box-column-section {
        grid-template-columns: repeat(2, 1fr);
    }

}

.box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-header .left {
    font-weight: bold;
}

.box-header .right {
    text-align: right;
    font-style: italic;
}

ul {
    padding: 0 0 0 0;
    margin: 0;
}

.box-list {
    margin-left: 10px;
}

@media screen and (max-width: 790px) {
    .box-list.long {
        margin-right: 0px
    }
}

@media screen and (min-width: 790px) {
    .box-list.long {
        margin-right: 100px
    }
}

li::marker {
    font-size: 4pt;
}

.box-list li {
    margin-left: 5px;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* toogle */

:root {
    --toggle-width: 50px;
    --toggle-height: 20px;
    /* Base height */
    --circle-size: calc(var(--toggle-height) - 8px);
    /* Adjusted to fit within the toggle */
    --label-font-size: 0.9rem;
    /* Adjust label font size relative to toggle */
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15px
}

.switch-container .label-left,
.switch-container .label-right {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--label-font-size);
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--toggle-width);
    height: var(--toggle-height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:hover {
    background-color: #b8b2b2;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--circle-size);
    width: var(--circle-size);
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #021728;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0b3150;
}

input:checked+.slider:before {
    transform: translateX(calc(var(--toggle-width) - var(--circle-size) - 8px));
    /* Calculate movement */
}

.slider.round {
    border-radius: calc(var(--toggle-height) / 2);
    /* Rounded slider */
}

.slider.round:before {
    border-radius: 50%;
}

@media print {
    .switch-container {
        display: none;
    }
}

/* toogle */